.header {
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:rgba(60,60,60, 0.9);
}

.siteLogo {
    width: 15%;
    min-width: 200px;
    transition: opacity 300ms;   
}

.siteLogo a img {
    width: 100%;
    max-width: 100%;
}

.siteLogo:hover,
.siteLogo:focus {
    opacity: 0.5;
}

@media (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
    }
}

