.property-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.filters {
    font-weight: bold;
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    justify-content: flex-end;
    align-items: baseline;
    padding-bottom: 10px;
}

.filters select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid grey;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.15rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
}

@media (max-width: 800px) {
    .filters {
        align-self: center;
    }
}
