* {
  box-sizing: border-box;
}

body {
    background-color: #F3C5C5;
    padding: 20px;
    color: white;
    text-align: center;
    margin: 0;
    font-family: arial, sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
  }
  
  li {
    list-style: none;
  }

  header {
    grid-area: header;
  }
  
  footer {
    color: black;
    grid-area: footer;
  }
  
  /* background-color classes */
  .dark-div {
    background-color: #886F6F;
  }
  
  .bright-div {
    background-color: #C1A3A3;
  }
  
  /* header class */
  
  .title {
    border: 2px solid black;
  }
  
  
  /* Classes from videogame section */ 
  
  .videogameitem {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1em;

  }
  
  .videogamelist {
    margin-top: 0px;
    padding-left: 0px;
  }
  
  .images {
    width: 300px;
    object-fit: cover; 
  }
  
  
  .name {
    background-color: #694E4E;
    display: inline-block;
    width: 150px;
    margin: 0px auto;
    padding: 10px 20px;
    text-decoration: inherit;
    color: inherit;
  }

  .action-rpg {
    grid-area: main;
  }
  
  /* pseudo classes applied to the buttons and images */ 
  
  .name:hover, .name:focus {
    background-color: rgb(95, 50, 78);
    cursor: pointer;    
  }
  
  .images:hover {
    transform: scale(1.10);
  }
  
  
  
  
  