.contact-us {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 8.5em;
}

.form-control {
    padding: 10px 0 10px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-be;

}

.form-control label, 
.form-control input {
    display: block;
}

.form-control label {
    font-weight: bold;
}

.form-control input,
.form-control textarea
{
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;  
    margin-bottom: 10px; 
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd; }

.contact-us button {
    background-color: rgba(60,60,60,0.9);
    padding: 0.8em 1.2em;
    border-radius: 15px;
    font-weight: 700;
    color: #fff;
}

.contact-us button:hover,
.contact-us button:focus
{
    opacity: 0.7;
    cursor: pointer;
    background-color: grey;
}

.contact-list {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.contact-list ul {
    list-style: none;
    padding: 0;
}

.contact-list ul li span {
    font-weight: bold;
    text-transform: capitalize;
}
