.property-item {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: rgb(181, 162, 162);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    border-radius: 14px;
    padding: 10px;
}

.property-item button {
    display: inline-block;
    background-color: rgba(60,60,60,0.9);
    padding: 0.8em 1.2em;
    border-radius: 10px;
    font-weight: 700;
    margin-right: 10px;
    margin: 10px 10px 0px 0px;
}

.property-item button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.property-item button a {
    color: white;
    text-decoration: none;
}

@media (max-width: 800px) {
    .property-item {
        align-items: center;
        text-align: center;
    }
}