.contactUs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 7em;
}

.formControl {
    padding: 10px 0 10px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-be;

}

.formControl label, 
.formControl input {
    display: block;
}

.formControl label {
    font-weight: bold;
}

.formControl input,
.formControl textarea
{
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;  
    margin-bottom: 10px; 
}

.formControl input:focus,
.formControl textarea:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd; }

.contactUs button {
    background-color: rgba(60,60,60,0.9);
    padding: 0.8em 1.2em;
    border-radius: 15px;
    font-weight: 700;
    color: #fff;
}

.contactUs button:hover,
.contactUs button:focus
{
    opacity: 0.7;
    cursor: pointer;
    background-color: grey;
}

.contactList {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.contactList ul {
    list-style: none;
    padding: 0;
}

.contactList ul li span {
    font-weight: bold;
    text-transform: capitalize;
}
