.about-us {
    padding-bottom: 1rem;    
}

.about-location {
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline; 
}

.content {
    padding-top: 1em;
    max-width: 800px;
    align-self: flex-start;
}

.hr {
    border: 0;
    height: 1px;
    background: #333;
}


.video {
    padding-top: 1em;
    height: 350px;
    width: 500px;
}


